<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./../{% static "experience/style.css" %}">

    <title>Experience</title>
</head>

<body>

    <div class="list-group sidenav" id="list-tab" role="tablist">
        <img src="./../{% static "assets/afl-logo.jpeg" %}" height="100" width="100" id="img-logo">
        {% for item in data %}
        <a class="list-group-item-action {% if forloop.counter == 1%}active{% endif %}" id="list-{{ forloop.counter }}-list" data-toggle="tab" href="#list-{{ forloop.counter }}" role="tab">{{ item.name }}</a>
        {% endfor %}
        <a class="list-group-item-action " id="list-X-list" data-toggle="tab" href="#list-X" role="tab">Group List</a>
    </div>


    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div class="main-body">
        <div class="jumbotron jumbotron-fluid my-jumbotron">
            <div class="container jumbotron-text">
                <h1 class="display-4">{{ parms.title }}</h1>
                <p class="lead">{{ parms.fromdate }} through {{ parms.thrudate }}</p>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="col"></div>
                <div class="col-11">
                    <div class="tab-content" id="nav-tabContent">
                        {% for item in data %}
                        <div class="tab-pane fade show {% if forloop.counter == 1%}active{% endif %}" id="list-{{ forloop.counter }}" role="tabpanel" aria-labelledby="list-{{ forloop.counter }}-list">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="table-experience-header">

                                        <th scope="col"></th>

                                        {% for year in item.Year %}
                                        <th scope="col">{{ year }}</th>
                                        {% endfor %}

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="table-row">Earned Premium</td>

                                        {% for ep_value in item.EarnedPremium %}
                                        <td>{{ ep_value }}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <td class="table-row">Incurred Claims</td>

                                        {% for clm_value in item.IncurredClaims %}
                                        <td>{{ clm_value }}</td>
                                        {% endfor %}
                                    </tr>
                                    <tr class="table-experience-loss-ratio">
                                        <td class="table-row">Loss Ratio</td>

                                        {% for lr_value in item.LossRatio %}
                                        <td>{{ lr_value }}</td>
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {% endfor %}

                        <div class="overflow-auto tab-pane fade show" id="list-X" role="tabpanel" aria-labelledby="list-X-list">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim nulla aliquet porttitor lacus luctus. Sit amet justo donec enim diam. Dolor magna eget est lorem ipsum dolor sit. Sit amet volutpat consequat mauris nunc congue nisi vitae suscipit. Id leo in vitae turpis massa sed elementum tempus. Nisl vel pretium lectus quam id. Mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan. Maecenas volutpat blandit aliquam etiam. Volutpat odio facilisis mauris sit amet. Massa eget egestas purus viverra. Massa ultricies mi quis hendrerit dolor magna eget est lorem. Non pulvinar neque laoreet suspendisse interdum. At ultrices mi tempus imperdiet nulla malesuada pellentesque elit.</p>
                            <p>

                                Arcu risus quis varius quam quisque id diam vel. Pulvinar mattis nunc sed blandit libero volutpat sed cras. Ipsum dolor sit amet consectetur adipiscing elit ut aliquam purus. Id velit ut tortor pretium viverra suspendisse. Eu tincidunt tortor aliquam nulla facilisi cras fermentum. Non tellus orci ac auctor augue mauris augue neque. Amet nulla facilisi morbi tempus. Aliquet lectus proin nibh nisl condimentum id venenatis a. In cursus turpis massa tincidunt dui ut. Magna ac placerat vestibulum lectus. Quam elementum pulvinar etiam non quam lacus.</p>
                            <p>

                                Aliquam purus sit amet luctus venenatis lectus. Aenean sed adipiscing diam donec adipiscing tristique risus nec. Cursus euismod quis viverra nibh cras. Et tortor at risus viverra adipiscing at in tellus. Dolor sit amet consectetur adipiscing elit pellentesque. Enim diam vulputate ut pharetra sit. Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Accumsan tortor posuere ac ut consequat. Faucibus pulvinar elementum integer enim neque. Et malesuada fames ac turpis egestas. Sociis natoque penatibus et magnis dis parturient montes. Tempus urna et pharetra pharetra massa massa ultricies. Blandit massa enim nec dui nunc. Iaculis eu non diam phasellus vestibulum lorem. Purus ut faucibus pulvinar elementum integer. Urna porttitor rhoncus dolor purus non enim praesent.
                            </p>
                            <p>
                                Tortor vitae purus faucibus ornare suspendisse sed. Sem fringilla ut morbi tincidunt augue interdum velit euismod in. Orci porta non pulvinar neque laoreet suspendisse interdum consectetur libero. Sit amet venenatis urna cursus eget nunc scelerisque. Eu lobortis elementum nibh tellus molestie nunc non. Quam id leo in vitae turpis massa sed elementum tempus. Diam donec adipiscing tristique risus nec feugiat in. Integer vitae justo eget magna fermentum. Purus viverra accumsan in nisl nisi scelerisque eu. Aliquam vestibulum morbi blandit cursus risus at.</p>
                            <p>

                                Id aliquet lectus proin nibh nisl condimentum id. Ac feugiat sed lectus vestibulum mattis ullamcorper velit sed. Porta lorem mollis aliquam ut porttitor leo. Pharetra vel turpis nunc eget lorem dolor. Sociis natoque penatibus et magnis dis. At volutpat diam ut venenatis tellus in metus. Pharetra magna ac placerat vestibulum lectus mauris ultrices. Morbi enim nunc faucibus a. Sit amet nisl suscipit adipiscing bibendum est ultricies. Gravida cum sociis natoque penatibus et magnis dis parturient montes. Nam at lectus urna duis convallis convallis tellus id. Sit amet purus gravida quis. In cursus turpis massa tincidunt dui ut ornare lectus sit. Feugiat in fermentum posuere urna nec tincidunt. Sed risus ultricies tristique nulla aliquet enim tortor at. Turpis egestas pretium aenean pharetra magna ac placerat vestibulum lectus. Amet mattis vulputate enim nulla aliquet porttitor lacus luctus. Volutpat est velit egestas dui id ornare arcu.</p>
                        </div>

                    </div>
                </div>

                <div class="col"></div>
            </div>

        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
